/* stylelint-disable CssSyntaxError */
/* stylelint-disable csstree/validator */
/* stylelint-disable scss/at-rule-no-unknown */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.popup-bg {
  background-color: rgb(0 0 0 / 40%);
}

body {
  font-family: Popins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
}

.show {
  display: flex;
}

.modal-items {
  width: 90%;
}

.reservation-container {
  display: none;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(0 0 0) rgb(0 0 0 / 40%);
  backdrop-filter: blur(10px);
  overflow-y: scroll;
  z-index: 1;
  box-sizing: border-box;
}

.reservation-container.on {
  display: block;
}

.input {
  width: 50%;
  height: 40px;
  border-radius: 5px;
  border: 2px solid rgb(184 184 184);
  padding: 0 10px;
  margin-bottom: 10px;
}
